@import 'config';
.contact{
height: 100%;
padding-top: 40vh;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
background: 
 linear-gradient(
    to right,
    rgba($primary-color,0.9),
    rgba($primary-color,0.3)
 ),
 url('../img/model-1.jpg') center top;
background-size: cover;
  h2{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
   &-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 2rem;
   }
}