@import 'config';

.menu-btn{
    position: absolute;
    right: 2rem;
    top: 1rem;
    z-index: 1;
    cursor: pointer;
    height: 20px;
    width: 28px;

    &-burger{
        position: absolute;
       
        top: 0.5rem;
        height: 3px;
        width : 28px;
        background: set-text-color($primary-color);
        @include transition-ease;

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            height: 3px;
            width: 28px;
            background: set-text-color($primary-color);
            @include transition-ease;
        }

        &::after{
            content: '';
            position: absolute;
            top: 8px;
            height: 3px;
            width: 20px;
            background: set-text-color($primary-color);
            @include transition-ease;
        }
        &.open{
            transform: rotate(720deg);
            background: transparent;
            @include transition-ease;

            &::before{
                transform: rotate(45deg) translate(5px,8px);
            }

            &::after{
                width : 28px;
                transform: rotate(-45deg) translate(3px,-7px);
            }
        }
    }
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;
   

    &.open{
        visibility: visible;
    }

    &-menu{
        display: flex;
        list-style-type: none;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: $primary-color;
        padding-right: 1rem;
        overflow: hidden;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
            transform: translate(0);
        }

        &-item{
            @include transition-ease;
            transform: translateX(100vw);

            &.open{
                transform: translateX(0);
            }
        }

        &-link{
            display: inline-block;
            text-transform: uppercase;
            font-size: 2rem;
            padding: 2rem 0;
            font-weight: 300;

            &:hover{
                color: $secondary-color;
            }
        }
    
    }
}

@for $i from 1 through 4{
    .nav-menu-item:nth-child(#{$i}){
        transition-delay: ($i * 0.1s) + .5s;
    }
}